
  .loginSection {
    display: none;
    margin-left: 15%;
    margin-right: 15%;
  }

  form {border: 3px solid #f1f1f1;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0ch;
    box-shadow: 1px 1px 2px 1px #5e758d
  }

  button {
    background-color: rgb(91, 185, 221);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 1px 2px 1px 0.5px #70a2d7;
  }
  button:hover {
    opacity: 0.7;
  }

  .imgLogoAvatar {
    text-align: center;
    margin: 2px 0 12px 0;
  }
  img.Avatar {
    width: 40%;
    border-radius: 20%;
    box-shadow: 5px 9px 5px 2px #aaaaaa;
  }
  .loginContainer {
    padding: 40px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  .imgideaslogo {
    text-align: center;
    margin: 12px 0 12px 0;
  }
  img.ideaslogo {
    width: 40%;
    border-radius: 20%;
    
  }

  .imgideaslogo{
    background-color: black;
    margin: 12px 5 12px 50px;
    margin-left: 25%;
    margin-right: 25%;
  }

  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }

  .errorMessage {
    display: none;
    color: red;
    text-align: center;
  }


  footer{
    margin-top: 5px;
  }

  /*  news section   */

  .newsSection {
    margin-left: 15%;
    margin-right: 15%;
    padding: 1px;
  }

  .header{
    text-align: left;
    margin: 24px 0 5px 0;
    background: #70a2d7;
    padding: 5px;
  }

  .hlogo {
    width: 60px;
    border-radius: 20%;
    box-shadow: 1px 2px 2px 2px #aaaaaa;
    padding: 5px;
  }

    /*  news section  Search  */



    /* Style the search field */
    form.searchForm input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    /* Style the submit button */
    form.searchForm  button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
    }
    
    form.searchForm  button:hover {
      background: #0b7dda;
    }
    
    /* Clear floats */
    form.searchForm ::after {
      content: "";
      clear: both;
      display: table;
    }


      /*  news section Results  */

      .resultaPage{
        margin-top: 75px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        background: #b5c4d6;
      }





